<!DOCTYPE html>
<!--
Author: Aga Wolowska
Assignment:  ANGULAR JS, Digital Skills Academy
Date : 2017/07/03
-->
<html >
<head>
  <meta charset="UTF-8">
  <title>AngularJS</title>
  
</head>

<body>
  
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">        
    <link href='https://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script><!--AngularJS is distributed as a JavaScript file, and can be added to a web page with a script tag-->
    <script src="app.js"></script>
    <script src="main.ctrl.js"></script>
</head>
<body ng-app="app" ng-controller="MainController as main">

<div class="container">
<img src="img/list.png" alt="Check List"><br>
    <h1>{{main.assignment}}</h1>
    <div class="input-group">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" ng-model="main.searchInput" placeholder="Filter items..">
    </div>
    <h3><i class="fa fa-calendar"></i> A list of Assignments</h3>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="show in main.shows | filter:main.searchInput | orderBy:main.order.key:main.order.reverse">
        <span class="glyphicon glyphicon-star" ng-if="show.urgent"></span>{{show.assignment}}<span class="badge">{{show.subject}}</span></li>
    </ul>
    <select class="form-control pull-right" ng-model="main.order" ng-options="order as order.assignment for order in main.orders"></select>
    <div class="clearfix"></div>
    <h3><i class="fa fa-pencil"></i>Add a new Assignment</h3>
    <form name="main.addForm" class="form" ng-submit="main.addShow()">
        <div class="form-group">
            <label>Assignment</label>
            <input type="text" input placeholder="Add new assignment here..." class="form-control" ng-model="main.new.assignment" required />
        </div>
        <div class="form-group">
            <label>Subject</label>
          <input type="text" input placeholder="Add new subject here..." class="form-control" ng-model="main.new.subject" required />
            <!--<input type="number" min="1900" max="2030" class="form-control" ng-model="main.new.year" required />-->
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Urgent: <input type="checkbox" class="checkbox" ng-model="main.new.urgent" /></label>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
                 
              
            </div>

        </div>

    </form>
</div>
</body>
</html>
  
    <script src="js/controller.js"></script>

</body>
<footer>
            <p>Built by <a href="http://codingnotes.eu/">Aga Wolowska</a> | Fonts by Google | Icons by <a href="https://fortawesome.github.io/Font-Awesome/">FontAwesome</a></p>
        </footer>
</html>
